.control-panel {
  margin: 10px auto;
  padding: 25px;
  min-width: 100px;
  width: 300px;
  background-color: gray;
  border: 1px solid #666666;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: space-evenly;
}
.control-panel .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
